@import 'variables';

// Create a flex container
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}


// Media queries

@mixin mq($break) {  
  $value: map-get($breakpoints, $break);
  $sm: map-get($breakpoints, 'sm');

  @if $value == null {
        @warn "`#{$break}` is not a valid breakpoint name.";      
  }

  @else if $value > $sm {
    @media (min-width: $value) {
      @content;       
    }             
  }  
}